/*Table of Contents
-------------------------------------------------------------------------------
  -General
  -Header
  -Main Content
  -Footer
-------------------------------------------------------------------------------
*/


/*General-----------------------------------------------------------------------*/
.main{padding-top: 3%;}
.row{padding: 2% 0;}
.blue{background-color:  rgba(51, 102, 153, .75) ;} /*a is the fourth dimension that sets opacity*/
.content h2{font-size: 3rem;} /*This overrides the rule skeleton had set for h2*/

/*Header------------------------------------------------------------------------*/

/*The blue container my logo is in*/
header.main_nav{
    padding: 1% 0;
    display: block;
}

/*All below is for the navigation bar---------------*/
/*Logo is my Name*/
.logo{
  text-align: center;
  opacity: .8%;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  line-height: 100%; /*how we got UT closer to EC*/
  color: white; /*stuck between white and black. both look nice. will probably depend on body text*/
}

#logo-description{
  margin-bottom: 0;
}

#nav{
  font-size: 2.25rem;
  color: black;
  font-family: 'Open Sans';
  text-align: center;
  padding-bottom: 1%;
  padding-top: 3%;
}

.menu > ul {
  margin-bottom: 0;
}

.menu > ul > li{
  display: inline;
  padding: 0 10%;
}

.menu > ul > li:first-child{
  border-right: 1px solid black;
}

.menu > ul > li:last-child{
  border-left: 1px solid black;
}

.menu > ul > li > a{
  text-decoration: none;
  color: black;
}

.menu > ul > li > a:hover{
  color: gray;
}

.active{
  font-weight: bold;
}

/*End navigation bar-----------------------------*/


/*Main Content------------------------------------------------------------------*/
body{background-color: rgba(216, 230, 243, .4);}

h3{
  border-bottom: 3px solid  rgba(51, 102, 153, .7);
}

#font{
  font-family: 'Open Sans'
  font-size: 2rem;
}

#about{
  margin-top: 3%;
}

.right{
  text-align: right;
}


/*Footer------------------------------------------------------------------------*/
.copyright{
  text-align: center;
  margin-bottom: 0;
  margin-top: 3%;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  color: white;
}

footer{
  background-color:  rgba(51, 102, 153, .75);
}
